
body {

height: 100vh;
width: 100%;
margin: 20px;
display: flex;
justify-content: center;
margin: 0px;
background-color: rgb(83, 79, 112);

}




.all {
display: flex;
flex-direction: column;
width: 300px;
justify-content: center;


}

h1 { 
    justify-content: center;
    text-align:  center;
    background-color: #b2b9b7;
    outline-style: solid;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    display: flex;


 margin: 0px;
 padding: 0px;
}

li {
    flex: 1 1 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: rgb(137, 120, 201);
    outline-style: solid;
    display: flex;

}
